* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    background-size: cover;
    text-align: center;
}
#header {
    width: 100%;
    overflow: hidden;
    background: #e63c35;
    padding: 5px 0px;
    position: fixed;
    z-index: 2;
}
#header h1{
     float: left;
    color: white;
    margin-right: 48px;
}
.container{
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    padding-top: 60px;
}
nav{
    overflow: hidden;
    
}
nav li{
    list-style-type: none;
    float: left;
    margin-top: 2px;
}

nav a{
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin: 14px 16px 0px;
    
}
.box {
    float: left;
}

div {
    margin: 0 auto;
}

img {
    float: left;
    
}
.top-title {
    font-size: 60px;
}
.box2{
    float:right;
}
.img2{
    width: 550px;
    height: 350px;
}