* {
    margin: 0;
    padding: 0;
}

body {
    background: url(images/Ozyl5Yp7.jpg) no-repeat;
    background-color: #141414;
    background-size: contain;
    

}

#header {
    width: 100%;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: px;
     position:fixed;
    z-index: 2;

}


#header h1 {
    float: left;
    color: aliceblue;
    margin-right: 48px;
}

.container {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main {
    width: 1000px;
    margin: 0 auto;
    padding: 16px 0;
    overflow: hidden;
    border-bottom: 1px solid aliceblue;
    margin-top: -100px;
    padding-top: 100px;

}

.main2 {
    width: 100%;
    margin: 0 auto;
    padding: 16px 0;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-top: -100px;
    padding-top: 100px;
    background-color: aliceblue;
    background-size: contain;

}

.content1 {
    padding: 242px 50px 257px 50px;
    overflow: hidden;

}


nav {
    overflow: hidden;

}


nav li {
    list-style-type: none;
    float: left;
    margin-top: 5px;
}

.nav2 a {
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin: 40px 50px 0px;
    transition: 0.5s;
}

.nav2 a:hover {
    border-bottom: 3px solid #f9f9f9;
}

.box {
    float: left;
}

div {
    margin: 0 auto;
}

.img0 {
    width: 340px;
    height: 100px;
    object-fit: contain;
    float: left;
}

#img1 {
    width: 317px;
    height: 400px;
    object-fit: contain;
    margin-left: 100px;
}

#img2 {
    float: left;
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-right: 100px;
}





.box2 {
    float: right;
}

.box3 {
    display: inline;
}

.content2{
    padding: 200px 20px 250px 20px;
    overflow: hidden;
    
    background-color: black;
}


.box3 {
    display: inline-block;
    margin-bottom: 100px;

}

#img3 {
    padding-right: 10px;
    width: 319px;
    height: 250px;
    object-fit: contain;
}

.content3 {
    width: 1000px;
    clear: both;
    padding: 200px 100px 100px 100px;
     background-color: aliceblue;
}

#title3{
    text-align: left;
    font-size: 40px;
    color: black;
   
}

#top-title{
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}
#title4{
    text-align: right;
    font-size: 40px;
    color: black;
    
}
#title6{
    
    text-align: left;
    font-size: 15px;
    
    
}
#title7{
    text-align: right;
    font-size: 15px;
}
#p1 {
    text-align: center;
    font-size: 23px;
    color: aliceblue;
    line-height: 1.5;

}

.p2 {
    text-align: center;
    font-size: 15px;
    color: black;
    line-height: 1.5;

}

.content4 {
    width: 1000px;
    clear: both;
    padding: 100px 100px 100px 100px;
    background-color: aliceblue;

}

.title3 {
    font-size: 50px;
}
.title5 {
    font-size: 20px;
    text-align: center;
}
#img4 {
    padding-right: 10px;
    width: 319px;
    height: 250px;
    object-fit: contain;
}

.box4 {
    display: inline-block;
    margin-bottom: 100px;

}
.content5{
    width: 1000px;
    background-color: black;
    padding: 100px 100px 100px 100px;
}

.title9{
    
}

.morebutton {
    text-align-last: center;
    color: black;
}

.inviewfadeInUp {
        opacity: 0;
        transform: translate(0, 60px);
        -webkit-transform: translate(0, 60px);
        transition: .8s;
    }
    
    .fadeInUp {
        opacity: 1.0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
.main3{
    width: 100%;
    margin: 0 auto;
    padding: 0px 0;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-top: -100px;
    padding-top: 100px;
    background-color: black;
    background-size: contain;
    padding-bottom: 100px;

}